[Unit]
Description=enable wlan
Requires=lxc@android.service
After=lxc@android.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/waitforservice init.svc.wcnss-service
ExecStart=/usr/bin/wcnss

[Install]
WantedBy=multi-user.target
